# ===========================
# ENVIRONNEMENT & DÉPENDANCES
# ===========================
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# ===========================
# STREAMLIT
# ===========================
app_evalnat/.streamlit
app_evalnat/.streamlit/secrets.toml   # fichiers secrets (API keys)
app_evalnat/.streamlit/config.toml     # config locale Streamlit (thème, port, etc.)

# ===========================
# DONNÉES LOCALES
# ===========================
data/
*.csv
*.xlsx
*.xls
*.json
*.parquet
*.zip

# ===========================
# LOGS ET TEMPORAIRES
# ===========================
*.log
*.tmp
*.bak
*.swp
*.ipynb_checkpoints
.cache/
logs/

# ===========================
# CONFIGS D’EDITEURS & OS
# ===========================
.DS_Store
.idea/
.vscode/
*.code-workspace

# ===========================
# ENVIRONNEMENT SECRET
# ===========================
.env
.env.*
*.env.local


scripts/pca_loadings.csv
scripts/eda.ipynb
